# Configurações do Servidor
PORT=3000

# Token de Acesso da Meta Ads para API de Conversões (CAPI)
META_ADS_ACCESS_TOKEN=EABfBOCvLqvEBSupExHadryKiVZCjOFXqKZCqo1QbI4xsL20W5kypyXdtsDpU4ZB7TveHwBFVwVp8LfUO7oYsYtNGKYG3ZCgr6g3vrDncKEPSZAm72o37loxru9HwgSKgAYry5eEZCwR8wRE6UVaR4fgzCGJjAUFUZCrkyIVQEU5HsyZANlvjZBiYRssUq3OEPmQZDZD
